{% extends 'base.html' %}
{% load static %}
{% block content %}

<main style="min-height: 50vh;" class="register container">
    <h1 class="text-center display-4 fw-normal mt-3 mb-4">
      Change Password
    </h1>
    <div class="row">
      <div class="d-flex justify-content-center">
        {% include 'messages.html' %}
      </div>
    </div>
    <div class="row">
        <div class="col-md-5 d-none d-md-block mb-4">
            <img src="{% static '/img/signin.svg' %}" class="img-fluid" alt="img">
          </div>
      <form method="POST" class="col-md-4 offset-md-1">
        {% csrf_token %}
        <div class="form-group">
          <input name="newpassword" class="form-control" placeholder="New Password" required>
        </div>
        <div class="form-group">
          <input name="reconfirm_password" type="password" class="form-control" placeholder="Confirm Password" required>
        </div>
        <input type="hidden" name="user_id" value="{{user_id}}">
        <button type="submit" class="mt-2 w-100 btn btn-lg btn-outline-primary mb-2">Submit</button>
        <div class="text-center">
          OR
        </div>
        <div class="text-center text-primary fw-bold"><small>New to SpyreUp? <a href="{% url 'signup' %}"
            class="text-danger">Create an Account</a> </small></div>
      </form>

    </div>
  </main>

{% endblock %}